.App {
  text-align: center;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.Auth-bar {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin: 20px;
}

.App-content {

}
